.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 30px;
  border-bottom: 1px solid var(--ui-light-gray-02);
  cursor: pointer;
  background-image: linear-gradient(120deg, var(--color-primary) 0%, var(--color-primary) 50%, transparent 50%);
  background-size: 0%;
  background-repeat: no-repeat;
  transition: 0.2s ease;
  z-index: -1;
}

.Todo:hover {
  background-size: 150%;
}

.Todo--done {
  text-decoration: line-through;
  opacity: 0.5;
}

.Todo-text {
  transition: 0.2s ease;
  max-width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Todo:hover .Todo-text {
  transform: translateX(10px);
  color: #fff;
}

.Todo-edit {
  color: var(--ui-light-gray-01);
  height: 20px;
  width: 20px;
  margin-left: -20px;
}

.Todo-input {
  font: inherit;
  font-weight: 600;
  font-size: 20px;
  color: var(--text-color);
  border: none;
  background-color: transparent;
}

.Todo:hover .Todo-input {
  color: #fff;
}

.Todo-input:focus {
  outline: none;
  font-weight: bold;
}

.Todo-edit svg {
  transform: translateX(-60px);
  transition: all 0.2s ease;
}

.Todo:hover .Todo-edit svg {
  transform: translateX(-10px);
}

.Todo-checkbox {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 5px solid var(--color-primary);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  transform-style: preserve-3d;
}

.Todo-checkbox::after {
  content: '';
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: var(--ui-light-gray-01);
  z-index: -1;
  border-radius: 5px;
  transform: translateZ(-1px);
  transition: all 0.2s;
}

.Todo:hover .Todo-checkbox::after,
.Todo--done .Todo-checkbox::after {
  top: 0;
  left: 0;
}

.Todo.item-enter {
  opacity: 0;
}
.Todo.item-enter-active {
  opacity: 1;
  transition: all 200ms ease;
}
.Todo.item-exit {
  transform: translateX(0);
}
.Todo.item-exit-active {
  transform: translateX(100%);
  transition: all 200ms ease;
}
